body {
  font-size: 20px;
  margin: 0;
}

section {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

article {
  width: 20vw;
  border: 3px solid green;
  padding: 20px;
  margin: 15px;
  display: inline-grid;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  padding-right: 15vh;
  border-right: 2px solid black;
  font-size: 35px;
}

nav li:hover {
  background-color: rgb(76, 175, 80);
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 2px #000;
}

nav img {
  float: left;
  max-height: 50px;
  position: relative;
  left: 56px;
  top: -7px;
}

nav {
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  background-color: grey;
  margin-left: 0;
}

#resume {
  padding-top: 40vh;
  background-image: url("img/matrix-1799661_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#projet {
  padding-top: 20vh;
}

#contact {
  padding-top: 20vh;
}

article a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

article img {
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 2px #000;
}

article a:hover {
  background-color: rgb(76, 175, 80);
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 2px #000;
}

main {
  border-radius: 10px;
  margin-left: 25vw;
  width: 50vw;
  background-color: buttonface;
}

button {
  margin: 15px;
  border-radius: 10px;
  border: 3px solid black;
  height: 10vh;
  width: 20vw;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #000;
}

button:hover {
  background-color: rgb(76, 175, 80);
}

@media screen and (max-width:640px) {
  article {
    padding: 5px;
    width: 80vw;
  }
  article img {
    width: 50vw;
    height: 25vh;
  }
  section {
    height: auto;
  }
  button {
    margin: 5px;
    width: 27vw;
  }
  #resume {
    padding-top: 55vh;
  }
  main {
    width: 80vw;
    margin-left: 10vw;
  }
  nav li {
    display: block;
    width: 80px;
    border: none;
    margin-left: 50px;
    margin-top:5px;
    font-size: 18px;
  }
  nav li:hover {
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
}
