section{
  height:100vh;
  width:100vw;
  text-align: center;

}
article{
  width: 30vh;
  border: 5px solid green;
  padding: 20px;
  margin: 15px;
}
nav a{
  text-decoration: none;
  color:black;

}
nav ul{
  list-style-type: none;

}
nav li{
  display: inline;
  padding-right: 15vh;
  border-right: 2px solid black;
}
nav img{
  float: left;

  max-height: 50px;
    position: relative;
    left: 56px;
    top: -7px;
}
nav{
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  background-color: grey;
}
#resume{
  padding-top: 40vh;
}
#projet{
  padding-top: 20vh;
   display: inline-grid;
}
#contact{
  padding-top: 20vh;
}
